 @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap");

 $menuFont: 'Nunito Sans', sans-serif;
 
 *{
    margin: 0;
    padding: 0;
  }  
  body{
    background: url("https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1467&q=80");
    // background-position: 50px;
    // background-size: cover;
    background-size: auto;
  }
  .menu-container{
    position: relative;
    margin-top: 6vh;
    // background: black;
    padding: 0.6em;
    // height: 600px;
  } 
  
  .hamburger-container{
    // position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0.7em 0.6em;
    justify-content: center;
    align-items: center;
    // border: none;
    border-radius: 8px;
    margin: 0.4rem 1rem;
    background: rgba(220, 220, 220, 0.50);
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  // .hamburger-container .hmb-active{
  //   background: rgba(220, 220, 220, 0.175);
  // }

  .hamburger-container:hover{
    background: rgba(220, 220, 220, 0.38);
    border: 1px solid rgba(209, 213, 219, 0.5); //try adding outline vara maari
  }

  .hamburger-container:active{
    background: rgba(220, 220, 220, 0.280);
    border: 1px solid rgba(209, 213, 219, 0.5); //try adding outline vara maari
  }

  span{
    height: 3px;
    width: 20px;
    color: black;
    background: black;
    display: inline-flex;
    transition-duration: 0.5s;
  }
  
  .toggle-2{
  /*   width: 20px; */
    transform: rotate(180deg);
  }
  
  .toggle-1{
    transform: translateY(2px) translateX(-5px) rotate(-45deg);
    width: 12px;
  }
  
  .toggle-3{
    transform: translateY(-2px) translateX(-5px) rotate(45deg);
    width: 12px;
  }
  
  .menu-items{
    position: absolute;
    width: 18vw;
    max-width: 250px;
    height: 70vh;
    min-height: 40vh;
    max-height: 635px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px) saturate(125%);
    -webkit-backdrop-filter: blur(8px) saturate(125%);
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 15px;
    border: 1px solid rgba(209, 213, 219, 0.5);
    margin: 0.2rem 1rem;
    // height: 500px;
    font-family: $menuFont;
    font-weight: 200;
    font-size: 25px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.17);
    padding-top: 10vh;
    left: -14.5vw;
    transition-duration: 0.5s;

    button{
      display: flex;
      flex-direction: row;
      // display: block;
      margin-bottom: 2px;
      padding: 1.2em 0em;
      justify-content: center;
      align-items: center;
      border: none;
      width: 100%;
      min-width: inherit;
      background: rgba(220, 220, 220, 0.40);
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: rgb(39, 39, 39);
      font-size: 16px;
      transition: all 0.3s;
    }

    // .curPage{
    //   background: rgba(255, 255, 255, 0.650);
    // }

    // .curPage:hover{
    //   background: rgba(255, 255, 255, 0.650);
    // }

    // .curPage:focus{
    //   background: rgba(255, 255, 255, 0.650);
    // }

    // button:hover{
    //   background: rgba(220, 220, 220, 0.550);
    //   box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.400);
    //   width: 105%;
    // }

    // button:focus{
    //   background: rgba(220, 220, 220, 0.603);
    //   box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.400);
    //   width: 107%;
    // }

    img{
      height: 16px;
      margin-right: 5px;
      transform: translateY(-1px);
    }
    
  }

  .menu-out{
    left: 10px;

    .curPage{
      background: rgba(255, 255, 255, 0.650);
    }

    .curPage:hover{
      background: rgba(255, 255, 255, 0.650);
    }

    .curPage:focus{
      background: rgba(255, 255, 255, 0.650);
    }

    button:hover{
      background: rgba(220, 220, 220, 0.550);
      box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.400);
      width: 105%;
    }

    button:focus{
      background: rgba(220, 220, 220, 0.603);
      box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.400);
      width: 107%;
    }
  }

  @media (max-width: 450px){
    .hamburger-container{
      margin-left: 0.1rem;
      // background: black;
    }
    .menu-items{
      max-width: 80px;
      left: -20vw;
      
      button{
        font-size: 0px;
      }
      img{
        height: 18px;
        margin: 20px 0px;
      }
      
    }
    .menu-out{
      left: -5px;
    }
    
  }

  @media (min-width: 500px) and (max-width: 810px){
    .hamburger-container{
      margin-left: 0.1rem;
      // background: black;
    }

    .menu-items{
      max-width: 80px;
      left: -10vw;

      button{
        font-size: 0px;
      }
      img{
        height: 23px;
        margin: 20px 0px;
      }
    }
    .menu-out{
      left: -5px;
    }
    
  }